<.flash_group flash={@flash} />

<main>
  <.table id="posts" rows={@posts} row_click={fn post -> JS.navigate(~p"/posts/#{post}") end}>
    <:col :let={post} label="Title"><%= post.title %></:col>
    <:col :let={post} label="Author">
      <%= post.author.first_name %> <%= post.author.last_name %>
    </:col>
    <:col :let={post} label="Inserted at"><%= post.inserted_at %></:col>
  </.table>
</main>
